// Main header styling 
#particles-js{
    background: #a9a9a9;
}

.toggleMe{
    display: none;
}

#toggle{
    display: none;
}

.headerBackground{
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNav nav ul{
    display: flex;
}

.mainNav nav ul li{
    margin-left: 50px;
    font-size: 1.7rem;
    font-family: $raleWay;
    font-weight: bold;
    text-transform: uppercase;
}

.mainNav a{
    color: black;
}

.navContainer{
    padding-top: 30px;
}

.navContainer h3{
    font-family: $raleWay;
    font-size: 2rem;
    font-weight: bold;
}

.mainHeaderContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainTitle h1{
    font-family: $raleWay;
    font-size: 9rem;
    text-transform: uppercase;
}

.mainSubheading{
    background: red;
    width: 80%;
    margin: auto;
}

.mainSubheading h3{
    font-size: 2rem;
    color: white;
    padding: 10px 0 10px 0;
    font-weight: 700;
    font-family: $raleWay;
    text-align: center;
}

.fa-angle-down::before{
    font-size: 6rem;
}

.downArrowContainer{
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 40px;
    cursor: pointer;
}

.aboutContainer{
    display: flex;
}

.underline{
    position: relative;
}

.underline:after{
  content: '';
  position: absolute;
  width: 0; 
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: red;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.underline:hover:after{
  width: 100%;
  left: 0;
  background: red;
}


//Media Queries
@media (max-width: 869px){
    .mainHeaderContainer{
        width: 60%;
    }

    .mainSubheading{
        width: 70%;
    }
}

@media (max-width : 800px){
    .toggleMe{
        display: inline-block;
        z-index: 9999;
        position: fixed;
    }

    #toggle{
        display: none;
    }

    #toggle:checked + .nav{
        right: 0;
        position: fixed;
    }

    label[for="toggle"]{
        position: fixed;
        top: 30px;
        right: 40px;
        color: rgb(0, 0, 0);
        font-size: 1.8rem;
    }

    .nav{
        background: white;
        color: white;
        position: fixed;
        width: 300px;
        right: -300px;
        top: 0;
        bottom: 0;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        z-index: 99;
    }

    .nav li{
        width: 100%;
    }

    .navLeft ul li{
        padding: 20px 0 0 30px;
        font-size: 2.5rem;
        margin: 0;
    }

    .navLeft ul{
        justify-content: center;
        padding-bottom: 170px;
        padding-right: 100px;
    }
}

@media (max-width: 727px){
    .mainHeaderContainer{
        width: 70%;
    }
}


@media (max-width: 625px){
    .mainHeaderContainer{
        width: 80%;
    }
}

@media (max-width: 549px){
    .mainHeaderContainer{
        width: 90%;
    }
}

@media (max-width: 489px){
    .mainHeaderContainer{
        width: 100%;
    }
    
    .mainTitle h1{
        font-size: 8rem; 
    }
}

@media (max-width: 480px){
    .nav{
        width: 100%;
        right: 100%;
        text-align: center;
    }
}

@media (max-width: 375px){
    .mainTitle h1{
        font-size: 7.5rem; 
    }
}

@media (min-width: 360px) and (max-width: 640px) and (orientation: landscape){
    .downArrowContainer{
        display: none;
    }
}

@media (max-width: 360px){
    .mainTitle h1{
        font-size: 7rem;
    }
}

@media (max-width: 320px){
    .mainTitle h1{
        font-size: 6rem;
    }

    .mainSubheading h3{
        font-size: 1.6rem;
        margin-top: 20px;
    }   

    .mainNav nav ul li{
        margin: 0;
    }
}
