/* SETUP */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  max-width: 100%; }

.wrapper {
  width: 70%;
  margin: 0 auto; }
  @media (max-width: 950px) {
    .wrapper {
      width: 80%; } }
  @media (max-width: 800px) {
    .wrapper {
      width: 85%; } }
  @media (max-width: 746px) {
    .wrapper {
      width: 90%; } }
  @media (max-width: 705px) {
    .wrapper {
      width: 95%; } }

.wrapper2 {
  width: 100%; }

/*Font Styles*/
/* Heading */
h1,
h2,
h3 {
  margin: 0; }

/* Paragraph */
p {
  margin: 0; }

/* Links */
a {
  text-decoration: none; }

/* List */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

hr {
  display: inline-block;
  width: 50px;
  border: 0;
  border-top: 4px solid black; }

#particles-js {
  background: #a9a9a9; }

.toggleMe {
  display: none; }

#toggle {
  display: none; }

.headerBackground {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center; }

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mainNav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mainNav nav ul li {
  margin-left: 50px;
  font-size: 1.7rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.mainNav a {
  color: black; }

.navContainer {
  padding-top: 30px; }

.navContainer h3 {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: 700; }

.mainHeaderContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center; }

.mainTitle h1 {
  font-family: "Raleway", sans-serif;
  font-size: 9rem;
  text-transform: uppercase; }

.mainSubheading {
  background: red;
  width: 80%;
  margin: auto; }

.mainSubheading h3 {
  font-size: 2rem;
  color: white;
  padding: 10px 0 10px 0;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-align: center; }

.fa-angle-down::before {
  font-size: 6rem; }

.downArrowContainer {
  position: absolute;
  color: white;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 40px;
  cursor: pointer; }

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.underline {
  position: relative; }

.underline:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: black;
  transition: width .2s ease;
  -webkit-transition: width .2s ease; }

.underline:hover:after {
  width: 100%;
  left: 0;
  background: black; }

@media (max-width: 869px) {
  .mainHeaderContainer {
    width: 60%; }
  .mainSubheading {
    width: 70%; } }

@media (max-width: 800px) {
  .toggleMe {
    display: inline-block;
    z-index: 9999;
    position: fixed; }
  #toggle {
    display: none; }
  #toggle:checked + .nav {
    right: 0;
    position: fixed; }
  label[for="toggle"] {
    position: fixed;
    top: 45px;
    right: 50px;
    color: black;
    font-size: 2.7rem; }
  .nav {
    background: white;
    color: white;
    position: fixed;
    width: 300px;
    right: -300px;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 99; }
  .nav li {
    width: 100%; }
  .navLeft ul li {
    padding: 20px 0 0 30px;
    font-size: 2.5rem;
    margin: 0; }
  .navLeft ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 170px;
    padding-right: 100px; } }

@media (max-width: 727px) {
  .mainHeaderContainer {
    width: 70%; } }

@media (max-width: 705px) {
  label[for="toggle"] {
    right: 20px; } }

@media (max-width: 625px) {
  .mainHeaderContainer {
    width: 80%; } }

@media (max-width: 549px) {
  .mainHeaderContainer {
    width: 90%; } }

@media (max-width: 489px) {
  .mainHeaderContainer {
    width: 100%; }
  .mainTitle h1 {
    font-size: 8rem; } }

@media (max-width: 480px) {
  .nav {
    width: 100%;
    right: 100%;
    text-align: center; } }

@media (max-width: 375px) {
  .mainTitle h1 {
    font-size: 7.5rem; } }

@media (min-width: 360px) and (max-width: 640px) and (orientation: landscape) {
  .downArrowContainer {
    display: none; } }

@media (max-width: 360px) {
  .mainTitle h1 {
    font-size: 7rem; } }

@media (max-width: 320px) {
  .mainTitle h1 {
    font-size: 6rem; }
  .mainSubheading h3 {
    font-size: 1.6rem;
    margin-top: 20px; }
  .mainNav nav ul li {
    margin: 0; } }

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 150px 0 150px 0; }

.aboutContent {
  width: 65%; }

.aboutTitle h2 {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: bolder; }

.aboutParagraph p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 3.5rem; }

.aboutPhone {
  -ms-flex-item-align: center;
      align-self: center; }

.aboutWorkLink {
  display: inline-block;
  margin-top: 50px;
  background: red; }

.aboutWorkLink a {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  display: block;
  padding: 10px 30px 10px 30px; }

.aboutPhone {
  position: absolute;
  right: 0;
  top: 40px; }

@media (max-width: 1560px) {
  .aboutContent {
    width: 60%; } }

@media (max-width: 1396px) {
  .aboutContent {
    width: 55%; } }

@media (max-width: 1235px) {
  .aboutContent {
    width: 50%; } }

@media (max-width: 1080px) {
  .aboutContent {
    width: 40%; } }

@media (max-width: 810px) {
  .aboutPhone img {
    width: 350px; } }

@media (max-width: 636px) {
  .aboutPhone img {
    display: none; }
  .aboutContent {
    width: 100%; } }

.skillsBackground {
  background: #5f5f5f;
  padding: 120px 0 70px 0; }

.skillsTitle h2 {
  font-family: "Raleway", sans-serif;
  font-size: 6rem;
  color: white;
  text-transform: uppercase; }

.skillsTitle p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 300; }

.iconContainer ul {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.skillsIcons {
  font-size: 10rem;
  width: 25%;
  text-align: center;
  margin-bottom: 40px; }

.devIcons {
  padding: 10px; }

@media (max-width: 575px) {
  .skillsIcons {
    width: 33%;
    margin: 20px auto; } }

@media (max-width: 420px) {
  .skillsIcons {
    width: 50%; } }

.portfolioBackground {
  padding-bottom: 120px; }

.portfolioContainer {
  padding-top: 120px; }

.portfolioContent h2 {
  font-size: 3rem;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif; }

.portfolioContent p {
  font-size: 2rem;
  margin-top: 10px;
  font-family: "Lato", sans-serif; }

.gridContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px; }

.gulp {
  color: white; }

.gridText {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.gridText h3 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 4px;
  text-transform: uppercase;
  display: inline-block;
  font-style: italic; }

.gridText p {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  margin-top: 7px; }

.gridImage {
  position: relative;
  -ms-flex-negative: 5;
      flex-shrink: 5; }

.gridImage figcaption {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: pink;
  position: absolute;
  padding: 20px 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.2rem;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.liveGithub a {
  padding: 10px;
  margin: 10px 5px 0 0;
  background: red;
  display: inline-block;
  width: 130px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase; }

.portContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 20px 0; }

.portIcons {
  font-size: 7rem;
  color: #5f5f5f;
  margin-right: 5px; }

@media (max-width: 828px) {
  .gridContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .gridText {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

.contactBackground {
  background: #5f5f5f;
  padding-top: 1px; }

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px; }

form {
  width: 70%; }

.socialMedia {
  width: 30%; }

.socialMedia h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #ffffff; }

.socialMedia p {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-weight: 300; }

.contactTitle h2 {
  font-size: 6rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: white; }

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px; }

.contactIconContainer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contactTitle p {
  font-size: 2rem;
  margin: 10px 0 10px 0;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-weight: 300; }

.contactTitleContainer {
  margin-top: 110px; }

.formTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contactInput {
  margin-bottom: 20px;
  height: auto;
  width: 31%;
  padding: 10px;
  font-size: 1.3rem;
  border: 1px solid lightgrey; }

.contactText {
  width: 100%;
  height: 400px;
  padding: 10px;
  font-size: 1.3rem;
  border: 1px solid lightgrey; }

.formBottom {
  margin-bottom: 20px; }

.contactInput::-webkit-input-placeholder, .contactText::-webkit-input-placeholder {
  font-size: 1.3rem;
  text-transform: uppercase; }

.contactInput:-ms-input-placeholder, .contactText:-ms-input-placeholder {
  font-size: 1.3rem;
  text-transform: uppercase; }

.contactInput::-ms-input-placeholder, .contactText::-ms-input-placeholder {
  font-size: 1.3rem;
  text-transform: uppercase; }

.contactInput::placeholder, .contactText::placeholder {
  font-size: 1.3rem;
  text-transform: uppercase; }

.formButton {
  border: 0;
  background: red;
  text-transform: uppercase;
  color: white;
  border-radius: 0px;
  font-size: 1.5rem;
  padding: 5px 20px 5px 20px;
  float: right;
  font-family: "Lato", sans-serif; }

.socialMedia p {
  margin-bottom: 5px;
  font-family: "Lato", sans-serif; }

.fa-twitter::before, .fa-linkedin::before, .fa-github::before {
  color: darkgrey;
  font-size: 4rem;
  cursor: pointer; }

.fa-twitter, .fa-linkedin, .fa-github {
  display: inline-block;
  background: #2e2e2e;
  padding: 15px; }

.fa-linkedin {
  margin: 0 30px 0 30px; }

.mailTo {
  color: #ffffff; }

@media (max-width: 1325px) {
  .form {
    width: 60%; }
  .socialMedia {
    width: 40%; } }

@media (max-width: 1125px) {
  .form {
    width: 50%; }
  .socialMedia {
    width: 50%; } }

@media (max-width: 845px) {
  .form {
    width: 40%; }
  .socialMedia {
    width: 60%; } }

@media (max-width: 630px) {
  .form {
    width: 30%; }
  .socialMedia {
    width: 70%; } }

@media (max-width: 575px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .formButton {
    float: none;
    display: block;
    margin: 0 auto; }
  .contactIconContainer {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .socialMedia {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  form {
    width: 100%; } }

@media (max-width: 320px) {
  .contactTitle h2 {
    font-size: 4rem; } }

.footerBackground {
  background: black; }

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px; }

.arrowUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 25px; }

.fa-angle-double-up::before {
  font-size: 3rem; }

.fa-angle-double-up {
  padding: 10px;
  background: red;
  cursor: pointer; }

.copyright {
  margin-top: 25px; }

.copyright p {
  font-size: 1.4rem;
  color: #686868;
  text-align: center; }
